This notebook is intended to transform the complete SEDS into something more suited for the purposes of this project, by eliminating unneeded data.

In [25]:
import numpy as np
import pandas as pd
df = pd.read_excel("annual_generation_state.xls") #load original xls
#we only want total electric from WA, so:
df = df[(df.STATE == 'WA') & (df.PRODUCER == 'Total Electric Power Industry')]
df #preview

,YEAR,STATE,PRODUCER,SOURCE,GENERATION
1329,1990,WA,Total Electric Power Industry,Total,102071533.0
1330,1990,WA,Total Electric Power Industry,Coal,7390279.0
1331,1990,WA,Total Electric Power Industry,Hydroelectric Conventional,87466708.0
1332,1990,WA,Total Electric Power Industry,Natural Gas,288058.0
1333,1990,WA,Total Electric Power Industry,Nuclear,5742027.0
...,...,...,...,...,...
57873,2021,WA,Total Electric Power Industry,Petroleum,32024.0
57874,2021,WA,Total Electric Power Industry,Solar Thermal and Photovoltaic,50208.0
57875,2021,WA,Total Electric Power Industry,Other Biomass,115443.0
57876,2021,WA,Total Electric Power Industry,Wind,9297756.0
57877,2021,WA,Total Electric Power Industry,Wood and Wood Derived Fuels,1395335.0

In [26]:
df.pop('PRODUCER') #redundant info
df.pop('STATE')

RE = ['Hydroelectric Conventional', 'Solar Thermal and Photovoltaic', 'Wind', 'Geothermal']

totals = df[df.SOURCE == 'Total']
renewables = df[(df.SOURCE == RE[0]) | (df.SOURCE == RE[1]) | (df.SOURCE == RE[2]) | (df.SOURCE == RE[3])]
nonrenewables = df[(df.SOURCE != RE[0]) & (df.SOURCE != RE[1]) & (df.SOURCE != RE[2]) & (df.SOURCE != RE[3]) & (df.SOURCE != 'Total')]
renewables

       YEAR                          SOURCE  GENERATION
1331   1990      Hydroelectric Conventional  87466708.0
2805   1991      Hydroelectric Conventional  89342397.0
4301   1992      Hydroelectric Conventional  68324659.0
5821   1993      Hydroelectric Conventional  67312383.0
7362   1994      Hydroelectric Conventional  65575487.0
...     ...                             ...         ...
55743  2020  Solar Thermal and Photovoltaic     45872.0
55745  2020                            Wind   9265597.0
57868  2021      Hydroelectric Conventional  71379357.0
57874  2021  Solar Thermal and Photovoltaic     50208.0
57876  2021                            Wind   9297756.0

[66 rows x 3 columns]

In [27]:
totals.to_csv('annual_generation_WA.csv', index=False)
renewables.to_csv('renewable_generation_WA.csv', index=False)
nonrenewables.to_csv("nonrenewable_generation_WA.csv", index=False)