In [7]:
import numpy as np
import pandas as pd
import torch
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt
import torch.nn as nn
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from collections import OrderedDict
import torch.optim as optim
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing


import datetime
from sklearn import linear_model

In [17]:
EV_Stations = pd.DataFrame(pd.read_csv('Complete_SEDS.csv'))
EV_Stations.head()

  Data_Status    MSN StateCode  Year  Data
0       2020F  ABICB        AK  1960   0.0
1       2020F  ABICB        AK  1961   0.0
2       2020F  ABICB        AK  1962   0.0
3       2020F  ABICB        AK  1963   0.0
4       2020F  ABICB        AK  1964   0.0

In [18]:
EV_Stations = EV_Stations[EV_Stations['StateCode']=='WA']
EV_Stations.head()

     Data_Status    MSN StateCode  Year  Data
2928       2020F  ABICB        WA  1960   0.0
2929       2020F  ABICB        WA  1961   0.0
2930       2020F  ABICB        WA  1962   0.0
2931       2020F  ABICB        WA  1963   0.0
2932       2020F  ABICB        WA  1964   0.0